{% extends 'Layout_back.html.twig' %}


{% block content %}

 <h3 class="display-4 text-center text-warning">Détail du membre : {{members.firstName}} {{members.lastName}} </h3><hr>
    <div class="col-lg-6 col-md-12 mx-auto form1">
	<div class="card bg-light">
        <div class="card-body text-center">
            <h4 class="card-title text-center">Nom : {{members.lastName}}
            </h4><hr>
            <h5 class="card-title text-center">Prenom : {{members.firstName}}
            </h5><hr>
            <p class="card-text text-center">Date de Naissance : {{members.dateOfBirth|date('Y-m-d')}}</p>
		    <p class="card-text text-center">Email : {{members.email}}</p>
		    <p class="card-text text-center">Adresse : {{members.address}}</p>    
		    <p class="card-text text-center">Country : {{members.country}}</p>
		    <p class="card-text text-center">Téléphone : {{members.phone}}</p>
            <hr>
            <h5 class=" text-align-left">Historique des rendez-vous :
            </h5>
           <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Prénom </th>
      <th scope="col">Nom </th>
      <th scope="col">Date </th>
      <th scope="col">Heure</th>
      <th scope="col">Motif de la consultation</th>
      <th scope="col">Annuler</th>
    </tr>
  </thead>
  <tbody>
    {# {% for rdvs in rdv %} #}
    <tr>
      {# <th scope="row">{{rdv.idRdv}}</th> #}
      {# <td>{{rdvs.memberid}}</td> #}
      {# <td>{{rdvs.rdvDate| date("d-m-Y")}}</td> #}
      {# <td>{{rdvs.rdvTime| date("H / m")}}</td> #}
    </tr>
    {# {% endfor %} #}
  </tbody>
</table>


		</div>

    </div>
	</div> 

{% endblock %}